.songs{
    background-color: rgb(59, 50, 50);
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.song{
    background-color: rgb(29, 28, 28);
    width: 15%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.song img{
    width: 100%;
    border-radius: 10px;
}

.song button{
    width: 50%;
    border: none;
    padding: 10px;
    border-radius: 2px;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.song button:hover{
  background-color: rgb(70, 69, 69);
  cursor: pointer;
}